/* DESKTOP LAYOUT */

body {
    margin: 0;
    background-color: tan;
    font-family:sans-serif;
}

/* layout */

header {
    width: 75%;   
    margin-bottom: 1%;
    margin-left: 15%;
    padding-bottom: 1%;
    border-bottom: 1px dashed grey;    
}

#projects {
    margin-left: 10%;
    padding-left: 3%;
    float:none;
}

#AboutMe {
    margin-left: 10%;
    padding-left: 3%;
    float:none;
}

section {
    width: 35%;  
    position: relative;
    left: 1.5%;
    float: right;
    margin-bottom: 1.5%;
    padding-left: 2.5%;
}

footer {
    clear: right;
    width: 75%;   
    margin-bottom: 2%;
    margin-left: 15%;
    padding-top: 0%;
    border-top: 1px
        dashed grey;
}

footer h5 {
    float: left;
}
footer p {
    float: right;
}

/* link styling */
a, a:visited {
    color: navy;
    font-weight:600;
    text-decoration: none;
}

a:hover {
    color: gold;  
}


footer a, footer a:visited {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

footer a:hover {
    background-color: blue;
    color: gold;
    text-decoration: none;
}

ol {
    list-style: disc

}


/* images */


img { 
    width: 100%;
}

img#kjones2{
    width: 30%;
}


/* MOBILE LAYOUT */

@media only screen and (max-width: 500px) {

    header, section, section#about, footer {
        position: static;
        width: 80%;
        margin: 0;
        padding: 2% 10%;
        border: none;
        font-size: 105%;
    }

    footer a, footer a:visited {
    background-color: blue;
    color: white;
    padding: 10px 16px;
    margin-top: 16px;    
    margin-left: 8px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

footer a:hover {
    background-color: blue;
    color: gold;
    text-decoration: none;
}
    /* text positioning */

    footer h5 {
        float:none;
    }
    footer p {
        line-height: 24pt;
        float:none;
    }

    ol {
        list-style: circle

    }

    /* image sizing + positioning */

    img, section#about img {
        width: 100%;
    }

