body {
    width:100%;
    background-image:url("../images/abstract-art-original.png");
}

img{
    width:60%;
   }
img#AJartist{
    width: 30%;
    padding: 0 35%;
}
img#AlJarreaualbum{
    width: 60%;
    padding-right: 20%;
    padding-left: 20%;
}
img#Tenderness{
    width: 60%;
   padding: 70px 20%;
}
p {
    width:90%;
    padding: 120px;
    font-size: 1.3em
}
blockquote{
    border-style: solid;
    margin-left: 360;
    margin-right: 360;
    font-size: 2em;
    line-height: 1.3        
}
a {text-align:center;
    width:90%;
    padding: 39%
}

h1{
    font-family: 'Lora', serif;
    text-align: center;
}
h2{
   font-family: 'Lora', serif;
    text-align: center; 
}
