/* DESKTOP LAYOUT */

body {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: tan;
    font-family:sans-serif;
}

/* SECTION */

section {
    clear: both;
}

/* Images */

img#thebeat {
    width: 100%;
    height: 500px;
}

img#dance {
    width: 500px; 
    height: 500px;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: .5%;
}

img#dance1 {
    width:  500px;
    height: 500px;
    margin-right: 3%;
    margin-bottom: .5%;
}

img#thestreet {
    width: 500px;
    height: 500px;
    margin-right: 3%;
    margin-bottom: .5%;
}

img#bug {
    width: 500px;
    height: 500px;
}

img#lou{
    width: 500px;
    height: 500px
}

img#dizzy {
    width: 500px;
    height: 500px;
}

img#john {
    width: 500px;
    height: 500px;

}

img#miles {
    width: 500px;
    height: 500px;

}

img#shack {
    margin-top:auto;
    margin-right: 300px;
}

img#bigband {
    width: 100%;
    height: 500px;
}

img#africa {
    width: 100%;
    height: 500px;
}

img#african {
    width: 100%;
    height: 500px;
}

img#early {
    width: 100%;
    height: 500px;
}

img#spyro {
    width: 100%;
    height: 500px;
}

img#louis1 {
    width: 400px;
    height: 400px;
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
}

img#louis2 {
    width: 400px;
    height: 400px;
    float: right;
    margin-left: 10px;
    margin-right: 8px;
}

img#dizzy1 {
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

img#dizzy2 {
    width: 400px;
    height: 400px;
    float: right;
    margin-left: 10px;
    margin-right: 8px;
}

img#trane1 {
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

img#trane2 {
    width: 400px;
    height: 400px;
    float: right;
    margin-left: 10px;
    margin-right: 8px;
}

img#miles1 {
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

img#miles2 {
    width: 400px;
    height: 400px;
    float: right;
    margin-left: 10px;
    margin-right: 8px;
}

/* style */

li {
    background-color: darkblue;
    border: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

li a:hover {
    color: gold;
}

h1 {
    font-family: 'Belleza', sans-serif;
    font-style: italic;
    font-size: 2.5em
}

h2 {
    text-align:left;
}
a {
    color: white;
}


/* layout */

header {
    width: 75%;   
    margin-bottom: 1%;
    margin-left: 15%;
    padding-bottom: 1%;
    border-bottom: 1px dashed grey;    
}

div {
    text-align: justify;
    text-justify: inter-word;
    margin-right: 330px;
}
}

footer a, footer a:visited {
    background-color: blue;
    color: white;
    padding: 1.5px; 33px;
    margin-top: 50%;
    margin-left: 5px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
}

footer a, footer a:hover {
    background-color: blue;
    color: gold;
    text-decoration: none;
    list-style: disc;
}


/* MOBILE LAYOUT */

@media only screen and (max-width: 500px) 
    
    body {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: tan;
    font-family:sans-serif;
}

/* SECTION */

section {
    clear: both;
}

/* Images */

declaration {
    clear: float;
}

img#thebeat {
    width: 100%;
    height: 500px;
}

img#dance {
    width: 500px; 
    height: 500px;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: .5%;
}

img#dance1 {
    width:  500px;
    height: 500px;
    margin-right: 3%;
    margin-bottom: .5%;
}

img#thestreet {
    width: 500px;
    height: 500px;
    margin-right: 3%;
    margin-bottom: .5%;
}

img#bug {
    width: 500px;
    height: 500px;
}

img#lou{
    width: 500px;
    height: 500px
}

img#dizzy {
    width: 500px;
    height: 500px;
}

img#john {
    width: 500px;
    height: 500px;

}

img#miles {
    width: 500px;
    height: 500px;

}

img#shack {
    margin-top:auto;
    margin-right: 300px;
}

img#bigband {
    width: 100%;
    height: 500px;
}

img#africa {
    width: 100%;
    height: 500px;
}

img#african {
    width: 100%;
    height: 500px;
}

img#early {
    width: 100%;
    height: 500px;
}

img#spyro {
    width: 100%;
    height: 500px;
}

img#louis1 {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    margin-right: 10px;
}

img#louis2 {
    width: 400px;
    height: 400px;
    margin-left: 10px;
    margin-right: 8px;
}

img#dizzy1 {
    width: 400px;
    height: 400px;
    margin-right: 10px;
    margin-bottom: 20px;
}

img#dizzy2 {
    width: 400px;
    height: 400px;
    margin-left: 10px;
    margin-right: 8px;
}

img#trane1 {
    width: 400px;
    height: 400px;
    margin-right: 10px;
    margin-bottom: 20px;
}

img#trane2 {
    width: 400px;
    height: 400px;
    margin-left: 10px;
    margin-right: 8px;
}

img#miles1 {
    width: 400px;
    height: 400px;
    margin-right: 10px;
    margin-bottom: 20px;
}

img#miles2 {
    width: 400px;
    height: 400px;
    margin-left: 10px;
    margin-right: 8px;
}

/* style */

li {
    background-color: darkblue;
    border: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

li a:hover {
    color: gold;
}

h1 {
    font-family: 'Belleza', sans-serif;
    font-style: italic;
    font-size: 2.5em
}

h2 {
    text-align:left;
}
a {
    color: white;
}


/* layout */

header {
    width: 75%;   
    margin-bottom: 1%;
    margin-left: 15%;
    padding-bottom: 1%;
    border-bottom: 1px dashed grey;    
}

div {
    text-align: justify;
    text-justify: inter-word;
    margin-right: 330px;
}
}

footer a, footer a:visited {
    background-color: blue;
    color: white;
    padding: 1.5px; 33px;
    margin-top: 50%;
    margin-left: 5px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
}

footer a, footer a:hover {
    background-color: blue;
    color: gold;
    text-decoration: none;
    list-style: disc;
}

