/* DESKTOP LAYOUT */

body {
    width: 100%;
    margin: 0;
    background-color: tan;
    font-family:sans-serif;
}

/* Images */

img#thebeat {
    width: 100%;
    height: 500px;
}

img#dance {
    width: 500px; 
    height: 500px; 
    margin-top: 5%;
    margin-right: 5%;
}

img#thestreet {
    width: 500px;
    height: 500px;
}

img#lou{
    width: 500px;
    height: 500px
}

img#dizzy {
    width: 500px;
    height: 500px;
}

img#john {
    width: 500px;
    height: 500px;

}

img#miles {
    width: 500px;
    height: 500px;

}

img#shack {
    margin-top:auto;
}

/* style */

li {
    background-color: royalblue;
    width: 70px;
    margin-top: 5%;
    padding: 10px; 20px;
    margin-right: 1px;
    border-radius: 10px;
    text-align: center;
    list-style-type: none

}

h1 {
    font-style: italic
}



/* layout */

header {
    width: 75%;   
    margin-bottom: 1%;
    margin-left: 15%;
    padding-bottom: 1%;
    border-bottom: 1px dashed grey;    
}

footer a, footer a:visited {
    background-color: blue;
    color: white;
    padding: 10px; 15px;
    margin-top: 100%;
    margin-right: 16px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

footer a: hover {
    background-color: blue;
    color: gold;
    text-decoration: none;
}

ol {
    list-style: disc
}

/* MOBILE LAYOUT */

@media only screen and (max-width: 500px) {
